.block {
  width: 100%;
}
.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(85, 88, 250, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.step {
  display: block;
}

.label {
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: rgba(85, 88, 250, 1);
}
