.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog {
  min-width: 460px;
  background-color: rgba(255, 255, 255, 1);
  padding: 32px;
  border-radius: 12px;
}
